{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    <p>Welcome, You are logged in as {{ user.username }}</p>
    Click <a href="accounts/logout">here</a>
        to signout</p>
    {% else %}
    <form action="{% url 'login_url' %}" method="post">
        {% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <input type="submit" value="Log In">
    </form>
    <p>Don't have an account ? Click <a href="accounts/signup">here</a>
        to signup</p>
    {% endif %}

    
</body>
</html>